﻿@model WebApplication5.Models.Person
@{
    ViewBag.Title = "Index";
}

<h2>Person</h2>
<div>
    <label>ID:</label>@Html.DisplayFor(m => m.PersonId)
</div>

<div>
    <label>First Name:</label>@Html.DisplayFor(m => m.FirstName)
</div>
<div>
    <label>Last Name:</label>@Html.DisplayFor(m => m.LastName)
</div>
<div>
    <label>Role:</label>@Html.DisplayFor(m => m.Role)
</div>